.boundingBox {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
	background-image: url(../Media/feelings.png);
	background-size: contain;
	background-position: center;
	background-repeat-y: no-repeat;
}